
MONGODB_URI="mongodb+srv://<username>:<password>@<host>/<database>"
CLIENT_URL="frontend_url(use for CORS setup)"
#jwt secret
ACCESS_TOKEN_SECRET="access_token_secret_hash(for better security)"
REFRESH_TOKEN_SECRET="refresh_token_secret_hash(for better security)"

# Cloudinary
CLOUDINARY_CLOUD_NAME="cloud_name"
CLOUDINARY_API_KEY="cloudinary_api_key"
CLOUDINARY_API_SECRET="cloudinary_api_secret"